<!DOCTYPE html>
<html>
<head>
    <title>Test for controller</title>
    <script type="application/javascript" src="angular\angular.js"></script>
    <script type="application/javascript" src="js/avengers.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="AvengersCtrl">
        <input type="text" ng-model="search.name">
        <table>
            <tr ng-repeat="actor in avengers.cast | filter:search | orderBy:'name'">
                <td>{{actor.name | lowercase}}</td>
                <td>{{actor.character | uppercase}}</td>
            </tr>
        </table>

        <input type="text" ng-model="search2.character">
        <table>
            <tr ng-repeat="actor in avengers.cast | filter:search2  | orderBy:'-name'">
                <td>{{actor.name}}</td>
                <td>{{actor.character}}</td>
            </tr>
        </table>

        <input type="text" ng-model="search3.$">
        <table>
            <tr ng-repeat="actor in avengers.cast | filter:search3  | orderBy:'character'">
                <td>{{actor.name}}</td>
                <td>{{actor.character}}</td>
            </tr>
        </table>
    </div>

    <superman></superman>

</div>

</body>
</html>